html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
	MM page
*/

.mm__page
{background: #fff;border: 1px solid #ccc;}

.mm__page_content
{
    padding: 10px;
    border-bottom: 1px solid;
}

.mm__page_info
{
    padding: 10px;
}

.mm__page_title, .mm__other_pages, .mm__comments
{
    text-align: center;
    padding: 10px;
    background: #ececec;
}

.mm__page_title, .mm__other_pages, .mm__comments, .mm__page_title_link
{
    color: #333;
    text-decoration: none;
}

ul.mm__page_info_list
{
    list-style: none;
}

ul.mm__page_info_list li
{
    display: inline-block;
    margin-left: 5px;
}

ul.mm__page_info_list > li:before
{
    margin-right: 0.5em;
    content: 'â—¦';
}

/*
	MM main container
*/

.mm__top_container, .mm__middle_container, .mm__bottom_container
{
    padding-top: 10px;
}

/*
	MM footer
*/

.mm__footer
{
    text-align: center;
    padding: 15px;
    color: #545454;
}

/*
	MM widget sidebar
*/


.mm__widget_header
{
    text-align: center;
    padding: 10px;
    background: #ececec;
    border-bottom: 1px solid #d8d8d8;
    color: #333;
}

.mm__widget_content
{
    padding: 10px;
    background: #fff;
}

.mm__vertical_menu ul a.mm_menu_item
{
    margin-left: 10px;
    padding: 5px 10px;
    display: block;
    color: #000;
    border-bottom: 1px dashed #ccc;
    text-decoration: none;
}

/*
    MM horizontal menu
*/

.mm__horizontal_menu>ul
{
    overflow: hidden;
}

.mm__horizontal_menu>ul>li
{
    float: left;
}

.mm__horizontal_menu>ul a.mm_menu_item
{
    display: inline-block;
    color: #404040;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 4px solid #bbb;
}

input, textarea, button {
    width: 100%;
    padding: 5px;
}
.mm__widget {
    background: #fff;
    border: 1px solid #ccc;
}

body {
    background: #eaeaea;
}

.container.mm__middle_container {
    background: #eee;
}

.container.mm__top_container {
    background: #eee;
}

.mm__horizontal_menu>ul a.mm_menu_item:hover {
    background: #bbb;
    color: #000;
}
.mm__vertical_menu ul a.mm_menu_item:hover {
    background: #f7f7f7;
}